#Beanpic {
    max-width: 10%;
    padding: 1%;
}

.container1{
    text-align: center;
    padding: 1%;
}

.main-banner {
height:30vh;
width:100%;
background-image: url("img/beansmain.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
}
.main-header {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.navbar {
    position: sticky;
    top: 0;
}

.card{
    margin:10%;
}
.card-body {
    padding: 0;
    padding-top: 5%;
    text-decoration: none !important;
    color: black !important;
}
.card-title {
    font-size-adjust: 0.90;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.price {
    font-size-adjust: 0.75;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-decoration: none !important;
    color: black !important;
}

.buynow {
    text-align: right;
    text-decoration: none !important;
    color: black !important;
}

.baristaimg {
    height: 40vh;
    width: 100%;
    background-image: url("img/coffee/homepage-coffee-shop.jpg");
    background-position:50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image{
    position:relative;
    width:286px;
}

.image_image{
    display: block;
    width:100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128,128,128,0.4);
    color: black;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0%;
    transition: opacity 0.25s;
}

.image__overlay--blur{
    backdrop-filter:blur(5px);
}

.image__overlay:hover{
    opacity:1;
}
.image__title {
    font-size: 2em;
    font-weight: 400;
}

.image__description {
    font-size: 1.25em;
    margin-top:0.25em;
    font-weight: 200;
}

body {
    background-image: url("img/background.svg");
    background-size: 94px 94px;
    background-repeat: repeat;
}
.products
{
    background-color:white;
}

.card{
    border: none;
}

.main-banner-products {
    background-color: rgba(30,58,49,255);
}
.image_coffee{
    max-width:100%;
}

.coffee_products {
    text-align: -webkit-center;
    text-align: -moz-center;
    padding-top: 5%;
}

#allProducts {
    padding-bottom: 3%;
}

.image_coffee {
    padding-top:0%;
    width: 480px;
}

.image_coffee img {
    width: 100%;
}

.productSection {
    font-family: 'Oswald', sans-serif;
}

.productSection h2 {
    font-size-adjust: 0.60;
    font-weight: 400;
}

.productSection p{
    font-weight: 200;
}

@media (min-width: 992px) {
    #navbarNav {
        
        margin-left: -129.65px;
    }
}

@media (max-width: 993px) {
    #navbarNav {
        margin-left: 0;
    }
}